// listas dentro del vista form 
@media (min-width: 992px) and (max-width: 1533.98px){
    .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_widget.o_invisible_modifier + .o_field_x2many.o_field_x2many_list{
        margin-left: -16px;
        margin-right: -16px;
    }
}
.o_field_one2many{
    .o_list_view{
        .table-responsive{
            max-height:initial;
        }
    }
}

// ajuste a menu ajustes (settings)

.o_setting_container {
    background: #ffffff;
    padding: 0 0 0 0;
}
.settings_tab {
	background-color: #ffffff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px;
}
.o_base_settings .o_setting_container .settings_tab .tab {
    color: #474954 !important;
}
.o_base_settings .o_setting_container .settings_tab .selected, .o_base_settings .o_setting_container .settings_tab .selected span {
    box-shadow: none !important;
    color: #0d082a !important;
    font-weight: 800 !important;
    background: #f2f2f2 !important;
}
.settings {
    margin-left: 0px;
    background-color: #ffffff !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-left: 1px solid #e6e6e6;
}
.o_base_settings .o_setting_container .settings > .app_settings_block h2 {
    margin-bottom: 0;
    padding: 0.25rem 16px;
    background-color: unset;
    font-size: 2rem;
    font-weight: 800;
}
.o_base_settings .o_setting_container .settings > .app_settings_block .o_settings_container {
    max-width: 100%;
    padding: 0 0 0 16px;
}
.o_setting_container .o_field_widget.o_field_many2one.o_with_button.oe_inline {
    margin-left: initial !important;
}

// ajuste a vista kanvan en mobil
@media (max-width: 768px){
    .o_kanban_view.o_kanban_grouped {
        margin: 0px;
        border-radius: 0px;
    }
    .o_kanban_view.o_kanban_grouped .o_kanban_mobile_tabs_container{
    background-color: #343a40;
    }
}

//views dropdown menu 
.dropdown-menu-right {
    right: 43px;
    top: -9px;
    left: auto;
    padding: 4px;
}
/*@media (max-width: 767.98px) {
    .o_control_panel .o_cp_bottom_right > .o_cp_switch_buttons > .btn:first-child, .o_control_panel .o_account_reports_page .o_cp_bottom_right > .o_cp_switch_buttons > .oe_link_reports:first-child, .o_account_reports_page .o_control_panel .o_cp_bottom_right > .o_cp_switch_buttons > .oe_link_reports:first-child, .o_control_panel .o_radio_hide_bullet .o_cp_bottom_right > .o_cp_switch_buttons > label:first-child, .o_radio_hide_bullet .o_control_panel .o_cp_bottom_right > .o_cp_switch_buttons > label:first-child {
        &:focus {
            margin-left: 0;
            background: $bg_darken;
            color: #fff !important;
            border-radius: 0 4px 4px 0 !important;
        }
        &:visited {
            margin-left: revert;
            background: revert;
            color: revert;
            border-radius: revert;
        }
    }
}*/
.o_cp_bottom_right .btn-group.o_cp_switch_buttons.show .dropdown-menu-right {
    right: 41px;
    top: -1px;
    left: auto;
    padding: 0 0 0 5px;
    border: none;
    border-radius: 5px 0 0 5px;
    background: #343a40;

    .btn.btn-secondary {
        background: #343a40 !important;
        border-color: #343a40 !important;
        color: #fff !important;
        margin-bottom: 0px !important;
    }
}

// close button sidebar
.sidebar_panel .sidebar_close {
    text-align: initial;
    padding-left: 28px;
    height: 36px;
    padding-top: 15px;
}

// chatter toolbar buttons
@media (max-width: 767.98px) {
    .o_ChatterTopbar.o_Chatter_topbar .o_ChatterTopbar_actions {
        .btn.btn-link {
            padding: 2px 6px !important;
        }
        .o_ChatterTopbar_rightSection .btn.btn-link {
            padding: 2px 6px !important;
            font-size: 1rem;
        }

    }
}
@media (max-width: 480px) {
    .o_ChatterTopbar_rightSection {
        background-color: $gray_clean;
        border-radius: 50px;
    }
}
/*
button.btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonSendMessage.o-bordered:after {
    font-family: 'FontAwesome';
    content: "\f1d8";
    font-size: 1.5rem;
}
button.btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote.o-bordered:after {
    font-family: 'FontAwesome';
    content: "\f044";
    font-size: 1.8rem !important;
}
*/

// chatter container message composer

.o_ChatterTopbar_button.o-active {
    color: #875A7B;
    background-color: #eff2f7 !important;
    border: none;
    border-radius: 4px 4px 0 0 !important;
}
.o_ChatterContainer .o_Chatter_fixedPanel .o_Composer.o_Chatter_composer.o-bordered {
    border: none !important;
    background: #e5e9eb;
    border-radius: 0 5px 5px 5px;
}

// hoja de vista form ancho completo

@media (max-width: 480px) {
    .o_form_view .o_form_sheet_bg {
        border-radius: 0px;
        padding: 10px 0;

        .o_form_sheet {
            min-width: auto;
            border-radius: 0px;
            border: none;
            border-top: 1px solid #ced4da;
        }
        .o_form_statusbar {
            padding-right: 8px;
            padding-left: 14px;
        }
    }
}

