// listas dentro del vista form 
@media (min-width: 992px) and (max-width: 1533.98px){
    .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_widget.o_invisible_modifier + .o_field_x2many.o_field_x2many_list{
        margin-left: -16px;
        margin-right: -16px;
    }
}
.o_field_one2many{
    .o_list_view{
        .table-responsive{
            max-height:initial;
        }
    }
}

// ajuste a menu ajustes (settings)

.o_setting_container {
    background: #ffffff;
    padding: 0 0 0 0;
}
.settings_tab {
	background-color: #ffffff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px;
}
.o_base_settings .o_setting_container .settings_tab .tab {
    color: #474954 !important;
}
.o_base_settings .o_setting_container .settings_tab .selected, .o_base_settings .o_setting_container .settings_tab .selected span {
    box-shadow: none !important;
    color: #0d082a !important;
    font-weight: 800 !important;
    background: #f2f2f2 !important;
}
.settings {
    margin-left: 0px;
    background-color: #ffffff !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-left: 1px solid #e6e6e6;
}
.o_base_settings .o_setting_container .settings > .app_settings_block h2 {
    margin-bottom: 0;
    padding: 0.25rem 16px;
    background-color: unset;
    font-size: 2rem;
    font-weight: 800;
}
.o_base_settings .o_setting_container .settings > .app_settings_block .o_settings_container {
    max-width: 100%;
    padding: 0 0 0 16px;
}