// listas dentro del vista form 

@media (min-width: 992px) and (max-width: 1533.98px){
    .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_widget.o_invisible_modifier + .o_field_x2many.o_field_x2many_list{
        margin-left: -16px;
        margin-right: -16px;
    }
}
.o_field_one2many{
    .o_list_view{
        .table-responsive{
            max-height:initial;
        }
    }
}


// ajuste a menu ajustes (settings)

.o_setting_container {
    background: #ffffff;
    padding: 0 0 0 0;
}
.settings_tab {
	background-color: #ffffff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px;
}
.o_base_settings .o_setting_container .settings_tab .tab {
    color: #474954 !important;
}
.o_base_settings .o_setting_container .settings_tab .selected, .o_base_settings .o_setting_container .settings_tab .selected span {
    box-shadow: none !important;
    color: #0d082a !important;
    font-weight: 800 !important;
    background: #f2f2f2 !important;
}
.settings {
    margin-left: 0px;
    background-color: #ffffff !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-left: 1px solid #e6e6e6;
}
.o_base_settings .o_setting_container .settings > .app_settings_block h2 {
    margin-bottom: 0;
    padding: 0.25rem 16px;
    background-color: unset;
    font-size: 2rem;
    font-weight: 800;
}
.o_base_settings .o_setting_container .settings > .app_settings_block .o_settings_container {
    max-width: 100%;
    padding: 0 0 0 16px;
}
.o_setting_container .o_field_widget.o_field_many2one.o_with_button.oe_inline {
    margin-left: initial !important;
}

// ajuste a vista kanvan en mobil
@media (max-width: 768px){
    .o_kanban_view.o_kanban_grouped {
        margin: 0px;
        border-radius: 0px;
    }
    .o_kanban_view.o_kanban_grouped .o_kanban_mobile_tabs_container{
    background-color: #343a40;
    }
    .o_kanban_view.o_kanban_grouped[class] .o_kanban_group:not(.o_column_folded) .o_kanban_record, .o_kanban_view.o_kanban_grouped[class] .o_kanban_group:not(.o_column_folded) .o_kanban_quick_create {
        border-radius: 0;
    }
    .o_kanban_view.o_kanban_grouped[class] .o_kanban_group:not(.o_column_folded) .o_kanban_record, .o_kanban_view.o_kanban_grouped[class] .o_kanban_group:not(.o_column_folded) .o_kanban_quick_create {
        border: none;
        border-radius: inherit;
        border-bottom: none;
        padding: 18px 16px;
        margin: 8px;
        margin-bottom: 0;
        box-shadow: 0 1px 6px rgba(18, 38, 63, .1) !important;
        width: calc(100% - 16px);
        width: -webkit-fill-available;
    }
}
a.btn.btn-primary.dropdown-toggle {
    display: inline-flex;
    align-items: center;
}
.o_kanban_view .oe_kanban_card .o_dropdown_kanban .dropdown-toggle, .o_kanban_view .o_kanban_record .o_dropdown_kanban .dropdown-toggle {
    padding: 8px 8px !important;
}

//views dropdown menu 
// .dropdown-menu-right {
//     right: 43px;
//     top: -9px;
//     left: auto;
//     padding: 4px;
// }
.o_main_navbar .dropdown-menu.show {
    max-height: calc(100vh - 62px);
}
/*@media (max-width: 767.98px) {
    .o_control_panel .o_cp_bottom_right > .o_cp_switch_buttons > .btn:first-child, .o_control_panel .o_account_reports_page .o_cp_bottom_right > .o_cp_switch_buttons > .oe_link_reports:first-child, .o_account_reports_page .o_control_panel .o_cp_bottom_right > .o_cp_switch_buttons > .oe_link_reports:first-child, .o_control_panel .o_radio_hide_bullet .o_cp_bottom_right > .o_cp_switch_buttons > label:first-child, .o_radio_hide_bullet .o_control_panel .o_cp_bottom_right > .o_cp_switch_buttons > label:first-child {
        &:focus {
            margin-left: 0;
            background: $bg_darken;
            color: #fff !important;
            border-radius: 0 4px 4px 0 !important;
        }
        &:visited {
            margin-left: revert;
            background: revert;
            color: revert;
            border-radius: revert;
        }
    }
}*/
.o_cp_bottom_right .btn-group.o_cp_switch_buttons.show .dropdown-menu-right {
    right: 41px;
    top: -1px;
    left: auto;
    padding: 0 0 0 5px;
    border: none;
    border-radius: 5px 0 0 5px;
    background: #343a40;

    .btn.btn-secondary {
        background: #343a40 !important;
        border-color: #343a40 !important;
        color: #fff !important;
        margin-bottom: 0px !important;
    }
}

// // close button sidebar
// .sidebar_panel .sidebar_close {
//     text-align: initial;
//     padding-left: 28px;
//     height: 36px;
//     padding-top: 15px;
// }

//chatter width

@media (min-width: 480px) and (max-width: 1533.98px) {
    .o_ChatterContainer {
        padding: 10px 10%;
    }
}
// chatter toolbar buttons
@media (max-width: 767.98px) {
    .o_ChatterTopbar.o_Chatter_topbar .o_ChatterTopbar_actions {
        .btn.btn-link {
            padding: 2px 6px !important;
        }
        .o_ChatterTopbar_rightSection .btn.btn-link {
            padding: 2px 6px !important;
            font-size: 1rem;
        }

    }
}
@media (max-width: 480px) {
    .o_ChatterTopbar_rightSection {
        background-color: $gray_clean;
        border-radius: 50px;
    }
}
/*
button.btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonSendMessage.o-bordered:after {
    font-family: 'FontAwesome';
    content: "\f1d8";
    font-size: 1.5rem;
}
button.btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote.o-bordered:after {
    font-family: 'FontAwesome';
    content: "\f044";
    font-size: 1.8rem !important;
}
*/

// chatter container message composer

.o_ChatterTopbar_button.o-active {
    color: #875A7B;
    background-color: #eff2f7 !important;
    border: none;
    border-radius: 4px 4px 0 0 !important;
}
.o_ChatterContainer .o_Chatter_fixedPanel .o_Composer.o_Chatter_composer.o-bordered {
    border: none !important;
    background: #e5e9eb;
    border-radius: 0 5px 5px 5px;
}
.o_ChatterTopbar_actions {
    border: none;
}
//fixing activity tittle in chatter

.o_ActivityBox_title.btn {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

// hoja de vista form ancho completo

@media (max-width: 480px) {
    .o_form_view .o_form_sheet_bg {
        border-radius: 0px;
        padding: 0;

        .o_form_sheet {
            min-width: 100%;
            border-radius: 0px;
            border: none;
            border-top: 1px solid #ced4da;
            margin: 0;
        }
        .o_form_statusbar {
            padding-right: 8px;
            padding-left: 14px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #ced4da;
            border-radius: 0;
        }
    }
}
@media (max-width: 767.98px) {
    .o_control_panel {
        padding-right: 0;
        padding-top: 2px;
        padding-bottom: 0px;
        
        & > div {
            margin: 10px 0px;
            &:first-child {
                margin-top: 5px;
            }
        }
    }
}

// inputs

select.o_input.o_field_widget {
    background-position: calc(100% - 10px);
    background-size: 3.2%;
}
.o_field_widget {
    &.o_field_many2one.o_with_button {
        input {
            border-radius: .25rem 0 0 .25rem !important;
        }

        button.fa.fa-external-link.btn.btn-secondary.o_external_button {
            padding: 2px !important;
            color: #ffffff !important;
            background: var(--primary-accent) !important;
            width: 35px;
            height: 40px !important;
            border-radius: 0 .25rem .25rem 0 !important;
        }
    }

    & .o_input_dropdown .o_dropdown_button {
        position: absolute;
        top: 0;
        left: auto;
        bottom: 0;
        right: 0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 27px;
    
        &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-bottom: 0;
            border-left: 0.4em solid transparent;
            border-right: 0.4em solid transparent;
            border-top: 0.4em solid;
            -moz-transform: scale(0.9999);
        }
    }

    &.o_datepicker .o_datepicker_button {
        position: absolute;
        top: auto;
        left: auto;
        bottom: auto;
        right: 0;
        pointer-events: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 40px;
        margin-left: -27px;

        &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-bottom: 0;
            border-left: 0.4em solid transparent;
            border-right: 0.4em solid transparent;
            border-top: 0.4em solid;
            -moz-transform: scale(0.9999);
        }
    }
}

//dropdown menu items

.o_dropdown_menu {
    min-width: 150px;
    max-height: calc(100vh - 170px);
    overflow: auto;
    .o_menu_item {
        padding: 8px 12px;
    }
}
.o_cp_action_menus .o_dropdown_menu .o_menu_item {
    padding: inherit;
}

//ventana modal

.modal.o_technical_modal.o_modal_full .modal-dialog .modal-content .modal-header {
    @media screen and (max-width: 575.98px) {
        background: var(--primary-accent);
    }
}
.modal.o_modal_full .modal-content{
    .modal-body { 
        .o_kanban_view.o_kanban_ungrouped .o_kanban_record {
            padding: 12px;
        }
        .o_form_view .oe_avatar > img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            vertical-align: top;
            border: 1px solid #f1f1f2;
            border-radius: 0;
        }
        &.o_act_window .o_group.o_inner_group > tbody > tr > td > .o_field_image.o_field_widget.oe_avatar.o_user_select_none {
            width: 32%;
            float: left;
        }
    }
    .modal-footer{
        flex-wrap: nowrap;
        text-align: left;
        -webkit-box-pack: start;
        justify-content: flex-start;
        @media screen and (max-width:767.98px) {
            padding-top: 1.5rem;
            padding-bottom: 1rem;
            
        }
        .btn {
            width: auto;
            text-overflow: ellipsis;
            white-space: inherit;
            padding: 8px 2px !important;
            height: 46px !important;
        }
    }
}

// dropdown menus actions and status

.o_form_view .o_form_statusbar {
    & > .o_statusbar_buttons > .btn-group {
        & > .btn {
            border-radius: 4px;
        }
    }
    & > .o_statusbar_buttons > .btn-group > .dropdown-menu, & > .o_statusbar_status > .dropdown-menu {
        padding: 0;
        min-width: unset;
        max-width: 250px;
        width: unset;
        border: none;

        .dropdown-item.btn {
            min-width: unset;
            width: 100%;
            border: none !important;
            height: 45px;
            border-radius: 0;
            margin-bottom: 0;
            text-align: left;
        }
    }
    & > .o_statusbar_status {
        & .o_arrow_button {
            border-radius: 4px;
        }
        & > .dropdown-menu {
        .dropdown-item.btn {
            text-align: right;
        }
    }
}
}

// control panel
.o_control_panel .breadcrumb > li.o_back_button.btn {
    padding: 4px 12px;
    height: auto;
}

//botones

.btn-group {
    & > .btn {
        border-radius: 6px;
    }
    & > .btn-group:not(:first-child) > .btn {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}

// apps home menu
.o_web_client.o_home_menu_background > header > .o_main_navbar {
    & > a, & > button, & > ul > li > a, & > ul > li > a > i {
    color: #fff;
}
}

//burger main menu
.o_burger_menu .o_burger_menu_content {
    background: #f8f8f8;
    &.o_burger_menu_dark{
        background-color: #2f353a;
    }
    .o_burger_menu_app {
        ul.o_menu_sections {
            margin: 20px;
            margin-left: 0;
        }
        padding-left: 20px;
        ul {
            > li.show > ul {
                padding: 20px;
                padding-right: 0;
            }
            .o_menu_entry_lvl_1{
                color: #d4d5d9;
                padding: 15px 15px;
            }
            .o_menu_entry_lvl_2 {
                color: #fff;
            }
        }   
    }
}

// searchview
.o_web_client .o_searchview {
    padding-top: unset;
    input.o_searchview_input {
        height: 35px;
    }
    .o_mobile_search_content{
        .o_mobile_search_filter {
            .btn-group.o_dropdown.o_filter_menu.show > ul {
                min-width: 150px;
                max-height: max-content;
                overflow: hidden;
            }
        }
    }
    .o_searchview_input_container {
        align-items: center;
        .o_searchview_facet {
            display: flex;
            flex: 0 0 auto;
            margin: 1px 3px 0 0;
            max-width: 100%;
            position: relative;
            min-height: 24px;
            justify-content: flex-start;
            align-items: baseline;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-wrap: nowrap;
            padding-top: 2px;
            .o_facet_values {
                max-width: calc(100% - 15px);
            }
        }
    }
    .o_mobile_search_footer {
        height: 65px;
    }
}

//chat window

.o_ChatWindow {
    &.o-fullscreen.o-mobile {
        .o_ChatWindow_thread {
            .o_MessageList_separator hr {
                border-color: transparent;
            }
            .o_Composer {
                border-radius: 0;
                .o_Composer_coreMain {
                    align-items: flex-end;
                    .o_Composer_textInput {
                        background-color: white;
                        border: 0;
                        border-radius: 7px;
                        border-top: none;
                        border-bottom: none;
                        border-left: none;
                        box-shadow: 0 0 14px -4px #dbdbdb;
                        margin: 8px;
                        margin-top: 0;
                        overflow: auto;
                        height: auto;
                        .o_ComposerTextInput_textareaStyle {
                            padding: 10px;
                            resize: none;
                            border: none;
                            padding-right: 67px;
                            min-height: 50px;
                            overflow: auto;
                        }
                    }
                    .o_Composer_buttons {
                        background: transparent;
                        border: 0;
                        border-radius: 7px;
                        max-height: 50px;
                        display: flex;
                        align-items: center;
                        margin-right: 12px;
                        margin-bottom: 12px;
                        margin-left: -104px;
                        align-self: inherit;
                        z-index: 999;
                        .o_Composer_toolButtons {
                            border-top: none;
                            border-bottom: none;
                            margin-right: 16px;
                            background-color: transparent;
                            .o_Composer_toolButtonSeparator {
                                display: none;
                            }
                            .o_Composer_primaryToolButtons {
                                &.o-composer-is-compact {
                                    padding-right: 0.4rem;
                                }
                                .o_Composer_toolButton {
                                    padding: 4px 12px;
                                    margin-left: 0.15rem;
                                    margin-right: 0.15rem;
                                    border-radius: 50px;
                                    max-height: 32px;
                                }
                            }
                        }
                        .o_Composer_actionButtons{
                            .o_Composer_actionButton.o_Composer_button.o_Composer_buttonSend.btn.btn-primary {
                                height: auto;
                                min-height: 40px;
                                width: 40px;
                                border-radius: 50px;
                                background: var(--primary-accent);
                            }
                        }

                    }
                }
            }
        }
    }
}