// listas dentro del vista form 
@media (min-width: 992px) and (max-width: 1533.98px){
    .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_widget.o_invisible_modifier + .o_field_x2many.o_field_x2many_list{
        margin-left: -16px;
        margin-right: -16px;
    }
}
.o_field_one2many{
    .o_list_view{
        .table-responsive{
            max-height:initial;
        }
    }
}