
$blue: #4200ff;
$red: #DE4B53;
$paragraph-margin-bottom: 2rem;
$line-height-lg: 1.65;
$border-radius: 5px;
$border-radius-lg: 5px;
$border-radius-sm: 5px;
$font-family-monospace: Inter, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$line-height-base: 1.65;
$h1-font-size: calc(46px + 26 * ( (100vw - 576px) / 1024));
$h2-font-size: calc(40px + 14 * ( (100vw - 576px) / 1024));
$h3-font-size: calc(36px + 4 * ( (100vw - 576px) / 1024));
$h4-font-size: calc(24px + 2 * ((100vw - 576px)/ 1024));
$h5-font-size: calc(19px + 1 * ((100vw - 576px)/ 1024));
$h6-font-size: 1.05em;
$headings-margin-bottom: 20px;
$headings-font-weight: 700;
$headings-line-height: 1.1;
$display1-weight: 700;
$display2-weight: 700;
$display3-weight: 700;
$display4-weight: 700;
$table-cell-padding: 1rem;
$input-btn-padding-y: .875rem;
$input-btn-padding-x: .935rem;
$input-btn-line-height: 1.3;
$btn-padding-y-sm: 7px;
$btn-padding-x-sm: 15px;
$btn-font-size-sm: $font-size-base * .96;
$btn-padding-y-lg: 18px;
$btn-padding-x-lg: 25px;
$btn-font-size-lg: 1.02em;
$btn-padding-y: 14px;
$btn-padding-x: 18px;
$btn-line-height: 20px;
$btn-line-height-lg: 20px;
$btn-font-weight: $font-weight-bold;
$input-btn-focus-width: 0rem;
$input-bg: rgba(23,22,26,.04);
$input-focus-bg: rgba(23,22,26,.07);
$input-border-color: null;
$input-border-width: 0;
$nav-link-padding-x: 1.5rem;
$nav-link-padding-y: .75rem;
$nav-tabs-border-width: $border-width *2;
$nav-pills-link-active-bg: rgba(136,136,136,.05);
$nav-pills-link-active-color: $gray-900;
$spacer: 1.25rem;
$navbar-padding-y: $spacer;
$dropdown-padding-y: 14px;
$input-btn-border-width: 0;
$pagination-border-width: 0;
$pagination-border-color: null;
$pagination-hover-border-color: null;
$pagination-color: $gray-900;
$pink: #f9dedf;
$green: #0ebd6e;
$teal: #9ff8d0;
$black: #17161a;
$secondary: $black;
$orange: #D97A0A;
$warning: lighten($orange, 44%);
$link-decoration: underline;
$alert-padding-y: .625rem;
$alert-padding-x: 1.125rem;
$alert-margin-bottom: 2rem;
$alert-border-width: none;
$yiq-text-dark: #232226;
$cyan: rgb(195, 247, 255);
$alert-bg-level: -11.7;
$badge-padding-y: 0.4em;
$card-cap-bg: rgba($black, .0);
$card-border-color: rgba($black, .05);
$card-border-width: $border-width*2;
$modal-inner-padding: .75rem;
$modal-content-border-radius: $border-radius-lg*1.6;
$modal-content-box-shadow-xs: 0 .25rem .5rem rgba($black, 1);
$progress-height: .45rem;
$progress-border-radius: $border-radius*2;