:root {
    --header-height : 62px;
    --primary-accent : #133cff;
    --primary-hover : #1235da;
    --secondary-accent : #f5f5f5;
    --secondary_hover : #f2f2f2;
    --bg-base : #f9fafb;
    --bg-darken : #24292e;
    --bg-header : var(--bg-darken);
    --color-header : #fff;
    --theme-color : var(--bg-header);
    @media screen and (max-width: 767.98px) {
      --header-height : 46px;
      --bg-header : var(--bg-base);
      --color-header : var(--bg-darken);
      --theme-color : #fff;
    }
}

$primary_accent: #133cff !default;
/*$secondary_accent: #334332 !default;*/
$secondary_accent: #f5f5f5 !default;
$inverse_accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #ffffff !default;
$bg_white: #ffffff !default;
$f_color: rgb(241, 241, 241) !default;
$bg_darken: #24292e !default;
$primary_hover: #1235da !default;
$secondary_hover: #f2f2f2;
$gray_clean: #eff2f7;
$bg_header: var(--bg-header);
$color_header: var(--color-header);

$navbar-height: 62px;
$navbar-height-sm: 46px;