:root {
    --header-height : 62px;
    @media screen and (min-width: 767.98px) {
      --header-height : 46px;
    }
}

$primary_accent: #133cff !default;
/*$secondary_accent: #334332 !default;*/
$secondary_accent: #f5f5f5 !default;
$inverse_accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #ffffff !default;
$bg_white: #ffffff !default;
$f_color: rgb(241, 241, 241) !default;
$bg_darken: #24292e !default;
$primary_hover: #1235da !default;
$secondary_hover: #f2f2f2;
$gray_clean: #eff2f7;


$navbar-height: 62px;
$navbar-height-sm: 46px;